.vscode/**
build/**
node_modules/**
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
webviews/**
src/**
.gitignore
.yarnrc
**/*.vsix
**/rollup.config.js 
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
